* {
    font-weight: lighter;
    letter-spacing: 3px;
}

#intro {
  position: fixed;
  left: 50%;
  top: 50vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.901);
}

header {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
}

main {
    text-align: justify;
}

img {
  width: 10rem;
}



.cadre_noir {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.337);
    height: 90vh;
    width: 95%;
    background: #121212; 
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 40px 40px;
    animation: move 4s linear infinite;  
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }

  .cadre_rouge {
    display: flex;
    border: 1px solid rgba(255, 243, 243, 0.337);
    height: 90vh;
    width: 95%;
    background: #bfbfbf; 
    background: linear-gradient(
      135deg,
      #121212 25%,
      #5a2f2f 25%,
      #5a2f2f 50%,
      #121212 50%,
      #121212 75%,
      #5a2f2f 75%,
      #5a2f2f
    );
    background-size: 40px 40px;
    animation: move 4s linear infinite;
    
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }

h1 {
    margin-bottom: 0;
}

header p {
    margin: 0;
}
  
ul {
    list-style: none;
    padding: 0.4rem 0;
    display: inline-block;
}

li {
    color: white;
    padding: 0.6rem 0;
    text-decoration: none;
    transition: color 0.4s;
}

li:hover {
    color: rgba(98, 98, 98, 0.856);
    cursor: pointer;
}

form {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin-top: 3rem;
}

input, textarea {
    width: 100%;
}

.container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    position: fixed;
    left: -2%;
    bottom: 12%;
    transform: rotate(270deg);
    color: #5a2f2f;
    border: 0;
    transition: background-color 0.5s ease;
}

button:hover, .redButton:hover {
  cursor: pointer;
}

.redButton {
    position: fixed;
    left: -2%;
    bottom: 12%;
    transform: rotate(270deg);
    color: white;
    background-color: #5a2f2f;
    border: 0;
}

.hidden {
  display: none;
}